<p id="notice"><%= notice %></p>

<p>
  <b>Product:</b>
  <%= @warehouse_output_event.product %>
</p>

<p>
  <b>Store:</b>
  <%= @warehouse_output_event.store %>
</p>

<p>
  <b>Quantity:</b>
  <%= @warehouse_output_event.quantity %>
</p>


<%= link_to 'Edit', edit_warehouse_output_event_path(@warehouse_output_event) %> |
<%= link_to 'Back', warehouse_output_events_path %>
