<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :name %>
		<%= f.input :email %>
		<%= f.input :password %>
		<%= f.input :password_confirmation %>
		<%= f.association :store %>
  </div>

  <div class="actions">
    <%= f.button :submit, :class => 'btn btn-primary' %>
  </div>
<% end %>
